{% extends 'base.html' %}
<form class="mt-4"
      hx-post="{% url {{ url_path }} %}"
      hx-target="#polls-tbody"
      hx-swap="beforeend"
      hx-on::after-request="this.reset()">
    <div class="form-control">
        <label for={{ form.title.id_for_label }}> Title
        </label>
        {% render_field form.title class="input input-bordered input-md" %}
    </div>
    <div class="form-control">
        <label for={{ form.body.id_for_label }}> Body
        </label>
        {% render_field form.body
        class="textarea textarea-bordered textarea-md" %}
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>
